<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4 text-center mb-4">Sobre mi</h1>
      <p class="lead">¡Hola! Mi nombre es Matías García-Huidobro y soy un estudiante de ingeniería en computacion en la Universidad de los Andes</p>

      <p>Comencé estudiando ingeniería en la Pontificia Universidad Católica el año 2018 y, por motivos personales, me cambié a esta universidad el primer semestre de este año.</p>

      <p>Si te interesa ver mi trabajo, ve a la sección de contacto y encontrarás links a mis redes!</p>

    </div>
  </div>
</div>
