<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p class="lead">En esta página encontrarás toda la información sobre mi..</p>
    <hr class="my-4">
    <p>Utiliza la barra de navegación para encontrar la información que necesitas!</p>
  </div>
</div>

